@import "../../css/fonts.scss";
@import "../../css/vars.scss";

.form-input {
    display: grid;
    align-items: center;

    .form-input-field {
        @extend %font-body;
        color: $font-color-1;
        background-color: transparent;
        border: none;

        &:focus {
            outline: none;
        }
    }
}