@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./css/fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body > #root {
  height: 100vh;
}

body {
  @extend %font-body;
  color: $font-color-1;
  background-color: $base-color-2;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
